@import '../lib/bootstrap/scss/_functions.scss';
@import "../lib/bootstrap/scss/_variables.scss";
@import "../lib/bootstrap/scss/_variables-dark.scss";

$primary: #0C8D36; 
$secondary:  #CC6600;
$tertiary:  #CC3300;
$body-bg: #e7eef3;

$grid-cell-bg: #ababab;
$snake-section-bg: #12cca3;
