@use "sass:color";


/* Bootstrap variable override
    uncomment and set bootstrap colors.
*/
@import '../lib/bootstrap/scss/_functions.scss';
@import '_variables.scss';
@import '_utilities.scss';


@import "../lib/bootstrap/scss/_maps.scss";
@import "../lib/bootstrap/scss/_mixins.scss";
@import "../lib/bootstrap/scss/_root.scss";
@import "../lib/bootstrap/scss/_buttons.scss";
@import "../lib/bootstrap/scss/helpers/_colored-links.scss";
@import '../lib/bootstrap/scss/helpers/_color-bg.scss';
@import "../lib/bootstrap/scss/_utilities.scss";
@import "mixins/callout.scss";

$theme-colors: ("primary": $primary, "secondary": $secondary, "tertiary": $tertiary, "info": $info, "danger": $danger);
$theme-colors: map-merge-multiple($blues, $reds, $oranges, $yellows, $greens, $purples, $teals, $grays, $theme-colors);
$df-breakpoints: ("10": 10%,"11": 11%,"12": 12%,"13":13%, "14":14%, "15":15%, "16":16%, "17":17%, "18":18%, "19":19%, "20": 20%, "30": 30%, "40": 40%, "50": 50%, "60": 60%, "70": 70%, "80": 80%, "100": 100%);


@each $breakpoint, $value in $df-breakpoints {
  .right-#{$breakpoint} {
    right: $value;
  }

  .left-#{$breakpoint} {
    left: $value;
  }

  .w-#{$breakpoint} {
    min-width: $value;
    max-width: $value;
  }
}

.link {
  text-decoration: none;
}

.h-inherit {
  min-height: inherit;
  max-height: inherit;
}

@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: #{$value};
  }
}

@for $i from 1 through 10 {
  .verticle-space-#{$i}x {
    min-height: calc($i * 5em);
    max-height: calc($i * 5em);
  }
}

$utilities: map-merge( $utilities, ( "color": map-merge( map-get($utilities, "color"), ( values: map-merge( map-get(map-get($utilities, "color"), "values"), ( $theme-colors ) ), ) ), ) );
$utilities: map-merge( $utilities, ( "background-color": map-merge( map-get($utilities, "background-color"), ( values: map-merge( map-get(map-get($utilities, "background-color"), "values"), ( $theme-colors ) ), ) ), ) );

@include callout-variant($theme-colors);

@import "../lib/bootstrap/scss/utilities/api";
