@import 'variables';

.content {
    background-color: #{$body-bg};
}

.game-page-title {
    margin-inline: auto;
    margin-block: 1em;
    font-family: "NovaMono";
    font-size: 30pt;
    justify-content: center;
    background-color: #{$green-300};
    display: flex;
    max-width: 50%;
    margin-inline: auto;
    border-radius: 2em;
}

.grid-cell {
    min-width: #{$grid-section-size};
    max-width: #{$grid-section-size};
    max-height: #{$grid-section-size};
    min-height: #{$grid-section-size};
}

.default-section {
    @extend .grid-cell;
    background-color: #{$grid-cell-bg};
}

.snake-section {
    @extend .grid-cell;
    background-color: #{$snake-section-bg};
}

.food-section {
    @extend .grid-cell;
    z-index: 10;
    background-color: #{$food-bg}
}

.screen-grid {
    min-width: 100%;
}
