@inject MenuJSInteropt _js

<div class='modal menu-modal modal-static' id="@MenuId">
    <div class="modal-backdrop">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow-3d">
                <div class="modal-header d-flex">
                    <h3 class="modal-title mx-auto">
                        @Title
                    </h3>
                </div>
                <div class="modal-body d-flex p-4 mx-4">
                    <p>
                        @MenuText
                    </p>
                </div>
                <div class="d-flex justify-content-evenly modal-footer">
                    @ChildContent

                </div>
            </div>
        </div>
    </div>

</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string MenuId { get; set; } = "menu-modal";

    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public string MenuText { get; set; } = default!;

    public async Task Toggle()
    {
        await _js.ToggleModalAsync(MenuId);
    }
}
