@page "/"

<PageTitle>Home</PageTitle>

<div class="container d-flex">
    <div class="vstack me-auto nav-stack">
        <NavLink href="/snake" Match="NavLinkMatch.All" class="fs-3 link link-primary">Snake</NavLink>

    </div>

</div>