:root {
  --toast-width: 25em;
  --toast-transition: all 1s ease-in-out;
}

.toastr {
  max-width: var(--toast-width);
  min-width: var(--toast-width);
  margin: 2em;
  position: absolute;
  z-index: 500;
  font-family: "poppins";
  border-radius: 5px !important;
  transition: var(--toast-transition);
  left: calc(50% - var(--toast-width) / 2);
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 4px -1px;
}
.toastr .bottom {
  bottom: 1em !important;
}
.toastr .top {
  top: 1em !important;
}
.toastr .right {
  left: unset !important;
  right: 1em !important;
}
.toastr .left {
  right: unset !important;
  left: 1em !important;
}
.toastr-header {
  padding: 0;
  max-height: 1.5rem;
  display: flex;
  align-items: center;
  background: inherit;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.toastr-header > a.btn {
  margin: 0;
}
.toastr-body {
  background-color: inherit;
  filter: saturate(0.4) brightness(1.2);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toast-error .close i {
  color: white !important;
  padding-block: 0;
  filter: contrast(2);
}
.toast-error .close:hover i {
  filter: hue-rotate(15deg) contrast(1.5);
}
.toast-success .close i {
  filter: contrast(2);
  font-weight: 800;
}
.toast-success .close:hover i {
  filter: hue-rotate(20deg) contrast(1.5);
  color: white !important;
}
.toast-warning {
  /* text-shadow: 0 0 3px black; */
  text-size-adjust: 25%;
  background-color: #ffc107 !important;
}
.toast-success {
  color: !important;
  filter: contrast(1.6);
  background-color: #d1e3da !important;
  outline: 1px solid #1A7547 !important;
  outline-color: #1A7547;
  transition: all 1s ease-in-out;
}
.toast-error {
  color: white !important;
  background-color: #e35d6a !important;
  outline: 1px solid #dc3545 !important;
}
.toast-info {
  color: #000 !important;
  background-color: #3cd5f4 !important;
  outline: 1px solid #032830 !important;
}

.hide-toast {
  display: none !important;
  background-color: transparent !important;
  color: transparent !important;
  transform: translateY(50%);
  transition: var(--toast-transition);
}
.hide-toast .toastr-header {
  display: none !important;
}
